.taskItem {
  display: flex;
  align-items: center;
  margin: 30px; 
  padding: 20px; 
  background-color: white;
  border: 1px solid blue;
  border-radius: 20px;

}

.taskItem input {
  margin-right: 10px;
}

.taskItem p {
  margin: 0;
  flex-grow: 1;
}

.taskItem button {
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  padding: 5px 10px;
}

.taskItem button:hover {
  background-color: lightblue;
  border: 1px solid darkblue;
  color: darkblue;
}
